---
import { Flex, Span } from "@dddstack/davaiui-astro";
import { Icon } from "astro-icon";

import { data } from "../lib";

const links = [
  {
    href: "https://dddstack.com",
    icon: "octicon:reply-16",
    text: "dddstack"
  },
  {
    href: data.github,
    icon: "octicon:mark-github-16",
    target: "_blank",
    text: "GitHub"
  },
  {
    href: "https://ddddurk.com",
    icon: "octicon:reply-16",
    target: "_blank",
    text: "ddddurk"
  }
];
---

<Flex
  class="mb-8 items-center justify-center space-x-4 md:space-x-6"
>
  {
    links.map(({ icon, text, ...props }) => (
      <Flex
        as="a"
        class="items-center space-x-2 text-gray-600 transition-all hover:text-gray-800 md:p-0.5"
        {...props}
      >
        <Icon class="h-4 w-4" name={icon} />
        <Span>{text}</Span>
      </Flex>
    ))
  }
</Flex>
