---
import { Flex, Span } from "@dddstack/davaiui-astro";
import { Icon } from "astro-icon";

import { data } from "../lib";
---

<Flex
  as="nav"
  class="mx-auto w-full max-w-[48rem] items-center justify-between space-x-3 md:space-x-6"
>
  <Flex
    as="a"
    class="items-center space-x-2 p-1 text-xl font-extrabold text-gray-600 transition-all hover:text-gray-800 md:text-2xl"
    href="https://dddstack.dddurk.com"
  >
    <Icon class="h-4 w-4" name="octicon:reply-16" />
    <Span
      class="bg-gradient-to-br from-green-400 via-cyan-400 to-pink-400 bg-clip-text text-[transparent]"
    >
      dddstack
    </Span>
  </Flex>
  <Flex
    as="a"
    class="items-center space-x-2 rounded-xl bg-gray-100 px-4 py-2 font-extrabold text-gray-800 transition-all hover:bg-gray-200 md:text-lg"
    href={data.github}
    target="_blank"
  >
    <Icon class="h-4 w-4" name="octicon:mark-github-16" />
    <Span>GitHub</Span>
  </Flex>
</Flex>
