name: publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    name: publish

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0

      - uses: actions/setup-node@master
        with:
          node-version: 16.x

      - run: yarn --frozen-lockfile
        shell: bash

      - uses: changesets/action@v1
        with:
          version: yarn ci:version
          commit: "ci(changesets): version packages"
          title: "ci(changesets): version packages"
          publish: yarn ci:publish
        env:
          GITHUB_TOKEN: secrets.GITHUB_TOKEN
          NPM_TOKEN: secrets.NPM_TOKEN
